.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  padding: 0 16px;
  background: rgb(255, 165, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 0, 1) 0%,
    rgba(255, 165, 0, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    background: rgb(255, 165, 0);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
    font-size: 20px;
  }
}
